<section id="estrazione">
   
    <div class="row">
        <div class="col-lg-12 text-center">
            &nbsp;
        </div>
    </div>
    <div id="ex1" style="display:none;">
        <div class="content" style="text-align: center">
            <div class="row">
                <div style="margin: auto; text-align:center">
                    <div id="machine">
                        <div id="firstElement">
                            <p>Premi Estrai!</p>
                        </div>
                    </div>
                    <div>
                        <div class="btn-group btn-group-justified btn-group-machine" role="group">
                            <div id="randomizeButton" type="button" class="btn btn-danger btn-lg">Estrai!</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>

    </div>

    <div class="row" id="partecipanti">

    </div>

</section>

@section scripts {
    <script type="text/javascript" src="~/Scripts/jquery.slotmachine.js"></script>
    <script src="~/Scripts/estrazione.js?v=@ViewContext.Controller.GetType().Assembly.GetName().Version"></script>

    <script>
		$(document).ready(function(){
		
			$("#ex1").modal({
			  showClose: false
			});

			var machine = $("#machine").slotMachine({
				active: 0,
				delay: 500
			});

			$("#randomizeButton").click(function () {
			    machine.destroy();
			    machine = $("#machine").slotMachine({
			        active: 0,
			        delay: 500,
			        randomize: function () {
			            var numCon = document.querySelectorAll('#partecipanti .estrazione-item').length;
			            var x = Math.floor((Math.random() * numCon) + 1);
			            return x;
			        }
			    });

			    //machine.shuffle(5);

				var y = Math.floor((Math.random() * 10000) + 1);
				machine.shuffle();
				setTimeout(function () { machine.stop(); }, y);
			})


			function onComplete(active) { }

		});
    </script>
}

