@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Selfie Lottery Demo</h1>
    <p class="lead"></p>
    <p><a href="/registrazione" class="btn btn-primary btn-lg">Registrazione&raquo;</a></p>
</div>

