@{
    ViewBag.Title = "Registrazione";
}
@if (ViewBag.Ok == true)
{
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Registrazione Completata!</h3>
        </div>
    </div>
}
else
{
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Registrazione</h3>
        </div>

        <form role="form" method="post" enctype="multipart/form-data">
            <div class="box-body">
                <input type="hidden" name="id" value="@Guid.NewGuid().ToString()" />
                  <div class="row">
                    <div class="col-md-6">
                        <input type="hidden" name="id" value="@Guid.NewGuid().ToString()" />
                        <div class="form-group">
                            <label for="nome">Nome</label>
                            <input type="text" class="form-control" id="nome" name="Nome" placeholder="Nome">
                        </div>
                        <div class="form-group">
                            <label for="cognome">Cognome</label>
                            <input type="text" class="form-control" id="cognome" name="Cognome" placeholder="Cognome">
                        </div>
                        <div class="form-group">
                            <label for="foto">Selfie</label>
                            <input type="file" id="foto" name="Foto">
                            <p class="help-block">Scatta un selfie col cellulare</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h4>Accesso tramite Facebook</h4>
                        <div class="form-group">
                            <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
                            </fb:login-button>
                        </div>
                        <div class="form-group">
                            <div id="status">
                            </div>
                            <input type="hidden" class="form-control" id="url" name="Url">
                        </div>
                        @*<input type="button" value="Logout" onclick="logout();" />*@
                    </div>
                </div>

            </div>
            <div class="box-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
}
@section scripts {
    <script>
        // This is called with the results from from FB.getLoginStatus().
        function statusChangeCallback(response) {

            console.log('statusChangeCallback');
            console.log(response);
            // The response object is returned with a status field that lets the
            // app know the current login status of the person.
            // Full docs on the response object can be found in the documentation
            // for FB.getLoginStatus().
            if (response.status === 'connected') {
                // Logged into your app and Facebook.
                getInfo();
            } else if (response.status === 'not_authorized') {
                // The person is logged into Facebook, but not your app.
                document.getElementById('status').innerHTML = 'Effettua il login in questa applicazione tramite Facebook.';
            } else {
                // The person is not logged into Facebook, so we're not sure if
                // they are logged into this app or not.
                document.getElementById('status').innerHTML = 'Effettua il login a Facebook e poi premi \'Submit\'.';
            }
        }

        // This function is called when someone finishes with the Login
        // Button.  See the onlogin handler attached to it in the sample
        // code below.
        function checkLoginState() {
            FB.getLoginStatus(function (response) {
                statusChangeCallback(response);
            });
        }

        function logout(response) {
            FB.logout(function (response) {
                document.getElementById('status').innerHTML = 'Per favore effettua il login a Facebook.';
            });
        }

        function getInfo() {
            FB.api('/me', 'GET', { fields: 'first_name,last_name,name,id,picture.width(200).height(200)' }, function (response) {
                console.log('Successful login for: ' + response.name);
                document.getElementById('status').innerHTML =
                'Grazie ' + response.name + ' per esserti loggato, ora premi \'Submit\'!' + "<br /><br /><img src='" + response.picture.data.url + "'>  ";
                document.getElementById('url').value = response.picture.data.url;
                document.getElementById('nome').value = response.first_name;
                document.getElementById('cognome').value = response.last_name;
            });
        }

        window.fbAsyncInit = function () {
            FB.init({
                appId: '1772713266390881',
                cookie: true,  // enable cookies to allow the server to access
                // the session
                xfbml: true,  // parse social plugins on this page
                version: 'v2.8' // use graph api version 2.8
            });

            // Now that we've initialized the JavaScript SDK, we call
            // FB.getLoginStatus().  This function gets the state of the
            // person visiting this page and can return one of three states to
            // the callback you provide.  They can be:
            //
            // 1. Logged into your app ('connected')
            // 2. Logged into Facebook, but not your app ('not_authorized')
            // 3. Not logged into Facebook and can't tell if they are logged into
            //    your app or not.
            //
            // These three cases are handled in the callback function.

            FB.getLoginStatus(function (response) {
                statusChangeCallback(response);
            });

        };

        // Load the SDK asynchronously
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        // Here we run a very simple test of the Graph API after login is
        // successful.  See statusChangeCallback() for when this call is made.
        function testAPI() {
            console.log('Welcome!  Fetching your information.... ');
            FB.api('/me', function (response) {
                console.log('Successful login for: ' + response.name);
                document.getElementById('status').innerHTML =
                  'Thanks for logging in, ' + response.name + '!';
            });
        }
    </script>
}
